body{
	background-image: url(../3597098_110959339000_2.jpg);
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
	background-size: cover;
}
.main{
	width: 100%;
	height: 100%;
	background-image: url(../2.jpg);
	background-size: cover;
	position: absolute;
	z-index: 100;
}
.button{
	width: 360px;
	height: 120px;
	cursor: pointer;
	position: absolute;
	left: 518px;
	top: 179px;
}
#button2{
	top: 339px;
	left: 525px;
}
#button3{
	top: 495px;
	left: 510px;
}
.shuoming{
	width: 600px;
	height: 600px;
	position: absolute;
	top: 70px;
	left: 390px;
	background:#04A1C8;
	border-radius: 20px;
	display: none;
}
#jieshao{
	width: 100%;
	height: 300px;
	margin-top: 150px;
	color: #201F1E;
	font-size:2em;
	display: none;
}
#jilu{
	width: 100%;
	height: 300px;
	margin-top: 150px;
	color: #E3CB04;
	font-size:4em;
	line-height: 200px;
	text-align: center;
	display: none;
}
#sure{
	width: 200px;
	height: 80px;
	background:red;
	border-radius: 15px;
	line-height: 80px;
	text-align: center;
	font-size: 4em;
	color: black;
	position: absolute;
	top: 400px;
	left: 200px;
	cursor: pointer;
	display: none;
}
#title{
	/*width: 200px;*/
	height: 80px;
	/*background:red;*/
	border-radius: 15px;
	line-height: 80px;
	text-align: center;
	font-size: 3em;
	color: white;
	position: absolute;
	top: 50px;
	left: 200px;
	cursor: pointer;
	display: none;
}
.box{
	width: 250px;
	height: 400px;
	/*background:red;*/
	position: absolute;
	top: 100px;
	left: 70px;
}
.box1{
	z-index: 200;
	display: none;
}
.button_b{
	width: 200px;
	height: 100px;
	margin: 25px;
	background:#1ECB00;
	line-height: 100px;
	text-align: center;
	color: white;
	font-size: 2em;
	cursor: pointer;
}
.changjing{
	width: 600px;
	height: 600px;
	border: 1px solid black;
	border-right: none;
	border-bottom: none;
	margin: 20px auto;
	box-shadow: 0  0  10px #111  inset;
	/*background: #111;*/
	/*background-image: url(../1.png);*/
	display: none;

}
#game_over{
	width: 610px;
	height: 600px;
	position: absolute;
	top: 20px;
	left: 380px;
	background: #E7E727;
	line-height: 500px;
	text-align: center;
	font-size: 6em;
	z-index: 999;
	display: none;
}
.block{
	/*background:#5DB533;*/
	width: 59px;
	height: 59px;
	
	float: left;
	/*margin:0 1px 1px 0;*/
	/*opacity: 0.8;*/
	/*-webkit-transform:rotateZ(90deg);*/
}
.chang{
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	background:#98CB00;
}